<h1>Statistics</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th> Gameswon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'Reload Statistics', new_statistic_path %>
