<h1><b><i><p style="font-size: 200%;"><font color="green">Hang The Khan</font></p></i></b></h1>
<h2><FONT FACE="algerian"><i>the classic Hangman game repowered</i></FONT></h2>

<div id="background">
  <img src="/adam-asmaca.png" class="stretch" alt="" />
</div>
